html {
  background: url("images/background image.jpg") no-repeat center fixed;
  background-size: cover;
}

#headline {
  text-align: center;
  border: 2px solid plum;
  padding: 25px;
  margin-top: 100px;
  margin-left: 0px;
  margin-right: 0px;
  background-image: url("images/background lang lang page.jpg");
  background-size: auto;
}

body {
  font-family: "Playfair Display", serif;
}

#headline {
  font-family: "Abril Fatface", cursive;
  font-size: 40px;
  color: rgb(68, 133, 187);
}

.head2 {
  font-family: "Kaushan Script", cursive;
  font-size: 30px;
  color: SlateGrey;
  margin-top: 50px;
}

.ph {
  font-family: "Cormorant", serif;
  font-size: 20px;
  color: #660066;
  text-indent: 30px;
}

* {
  box-sizing: border-box;
}

.clearfix::before {
  content: "";
  clear: both;
  display: table;
}

.img-container {
  float: left;
  width: 33.33%;
  padding: 3px;
  margin-top: 15px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

a:link {
  text-decoration: none;
}

a:visited {
  font-weight: bold;
  color: Magenta;
}

a:hover {
  font-size: 22px;
}

a:active {
  text-decoration: underline;
  color: red;
}

table,
td,
th {
  border: 1px solid green;
}

th {
  font-family: "Norican", cursive;
  font-size: 30px;
  font-weight: bold;
  color: #ff6666;
  background-color: CadetBlue;
  text-shadow: 4px 4px 4px #aaa;
}

td {
  font-family: "Cormorant", serif;
  font-size: 20px;
  color: #000066;
  padding-left: 10px;
  background-color: PowderBlue;
}

table.center {
  margin-left: 7%;
  margin-right: 50px;
  margin-top: 4%;
}

li {
  font-family: "Cormorant", serif;
  font-size: 20px;
  color: Magenta;
}

#image1 {
  float: left;
  margin-right: 30px;
  margin-bottom: 20px;
  clear: both;
}

.ph {
  width: 1020px;
  word-wrap: break-word;
}

#image2 {
  position: absolute;
  z-index: -1;
  margin-top: -240px;
  margin-left: 700px;
}

ul.navibar {
  list-style-type: none;
  margin: 0;
  padding: 12px;
  overflow: hidden;
  background-image: url("images/background for banner.jpg");
  background-size: auto;
  position: fixed;
  top: 0;
  width: 100%;
}

li.navibar {
  float: right;
  padding-right: 20px;
}

li.navibar a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Kaushan Script", cursive;
  font-size: 20px;
  color: SlateGrey;
}

li.navibar a:hover:not(.active) {
  background-color: rgba(255, 145, 0, 0.76);
}

.active {
  background-color: rgba(255, 68, 0, 0.514);
}

#table and rightImage {
  position: relative;
  z-index: -1;
  bottom: 500px;
}

#last part {
  position: absolute;
}

#container {
  margin-right: auto;
  margin-left: auto;
}

footer {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Kaushan Script", cursive;
  font-size: 20px;
  color: SlateGrey;
}
